service cloud.firestore {
  match /databases/{database}/documents {
      match /reports/{report} {
       allow read: if request.auth.uid != null;
    }
  }
}